/**********************************************************
Made By The Official Team Of Xopbot.Inc And XOPBOT©
Full Rights Are Owned By Us And XOPBOT, Any Thiefs Are
Takendown By DMCA Protection And The DMCA Company
Copyright XOPBOT 2021 - 2022 © All Rights Reserved 🔥🔥🔥
***********************************************************/
.dark-body{background-color:#000000}
div.dark-biography{width:70%;height:250px;padding-top:5px;padding-bottom:5px;font-family:"Sans-Serif";background-color:#000000;border-radius:5px;color:#ffffff;padding-left:5px;text-align:left;margin-left:auto;margin-right:auto}