/* <!----XOPPY Is A Trademark Of XOPBOT.inc And XOPBOT© More At https://xopbot.glitch.me/ 🔥🔥🔥----> */
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Alfa+Slab+One&family=Kdam+Thmor+Pro&family=Roboto+Serif:opsz@8..144&display=swap");::-webkit-scrollbar{width:4px}
::-webkit-scrollbar-track{background:#0c0c0c}
::-webkit-scrollbar-thumb{background:#000000}
:root{--main:#ffffff;--secondary:#ff0000}
::-webkit-scrollbar:hover{width:8px}
body{top:0!important;background-color:#0c0c0c}
.loading{transform: translate(-50%, -50%);position:absolute;top:50%;left:50%;}
#loader img{animation: spin 1.5s infinite ease-in-out;}@keyframes spin {0%{transform: rotate(0deg);}100%{transform: rotate(360deg)}}
div.mobile{display:none}
div.pc{display:block}
div.warn{display:none}
#user-view{background-color:var(--main);display:inline-block;position:relative;float:right;height:24px;width:90px;border:solid white 1px;border-radius:5px}
.dropdown{right:-2%;margin-right:0.5px;background-color:#0c0c0c;display:none;position:absolute;width:140px;overflow:auto;box-shadow:0 10px 10px 0 rgba(0,0,0,0.4)}
.dropdown a{font-family:"Kdam Thmor Pro",sans-serif;display:block;color:#ffffff;padding:5px;text-decoration:none;font-size:14px}
.dropdown a:hover{color:#ffffff;background-color:#ff0000}
#user-view:hover .dropdown{display:block}
#user-view i{padding-top:3.5px;padding-left:3px}
#sep-view{font-size:20px;padding-left:1px}
#text{font-family:"Kdam Thmor Pro",sans-serif;font-size:14px}
#head{font-family:"Alfa Slab One",cursive;color:var(--secondary);font-size:40px;padding-top:26vh;text-align:center}
.searchbar input{width:70%;height:40px;background-color:#000000;color:#ffffff;padding-left:10px;border:solid white 1.5px;border-radius:20px}
div.searchbar-after input{border:none;border-bottom:solid white 1.5px;padding-left:5.5px;border-top-left-radius:10px;border-top-right-radius:10px;position:relative;font-family:"Kdam Thmor Pro",sans-serif;width:99.2%;height:40px;background-color:#000000;color:#ffffff;}
#suggestions{position:absolute;top:35.5%;left:14.85%;width:70.15%;height:auto;background-color:#000000;color:#ffffff;border:solid white 1.5px;border-radius:2px;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:20px;border-bottom-right-radius:20px;text-align:left;}
#suggestions a{padding:5px;font-family:"Kdam Thmor Pro",sans-serif;font-size: 16px;}
div.suggest{background-color:#000000;width:90px;height:90px;text-align:center;border-radius:10%;border:solid 1px #000000}
div.suggest:hover{border:solid 1px #ff0000}
div.suggest img{width:55px;height:55px;padding-top:2.7vh;border-radius:5%}
div.space{padding-top:5vh}
div.content{display:flex;padding-left:35.5vh;padding-top:5vh}
div.advert{position:fixed;bottom:0;left:0%;right:0%;background-color:#000000;width:100%;height:115px}
div.advert img{width:95%;height:100px}
a.del{color:#ffffff;float:right;padding-right:5px;margin-top:-1.2%;}
#r-head{padding-left:35.5vh;color:#ffffff;font-family:"Kdam Thmor Pro",sans-serif}
#r-activity{padding-top:2px;padding-left:35.5vh;display:flex}
#r-activity a{text-decoration:none}
div.activity{border-radius:5px;background-color:#000000;width:200px;height:165px}
div.activity:hover{border:solid 2px #ff0000}
div.activity img{height:110px;width:200px}
a.activity-title{float:left;color:#ffffff;padding-top:3px;padding-left:4px;font-size:14px;font-family:"Kdam Thmor Pro",sans-serif}
a.activity-desc{float:left;color:#ffffff;padding-left:4px}
a.gflag{vertical-align:middle;font-size:16px;padding:1px 0;background-repeat:no-repeat;background-image:url(//gtranslate.net/flags/16.png)}
a.gflag img{border:0}
a.gflag:hover{background-image:url(//gtranslate.net/flags/16a.png)}
#goog-gt-tt{display:none!important}
.goog-te-banner-frame{display:none!important}
.goog-te-menu-value:hover{text-decoration:none!important}
.goog-tooltip{display:none!important}
.goog-tooltip:hover{display:none!important}
.goog-text-highlight{background-color:transparent!important;border:none!important;box-shadow:none!important}
#google_translate_element2{display:none!important}
#home-view{float:left;display:flex;}
a.logo{font-family:"Alfa Slab One",cursive;font-size:19px;color:#ff0000}
/*.#home-view i{font-size:19px;display:inline-block;position:relative}*/
.dropdownb{left:-7%;background-color:#0c0c0c;display:none;position:absolute;width:140px;overflow:auto;box-shadow:0 10px 10px 0 rgba(0,0,0,0.4)}
.dropdownb a{font-family:"Kdam Thmor Pro",sans-serif;display:block;color:#ffffff;padding:5px;text-decoration:none;font-size:14px}
p.user-set {font-family:"Kdam Thmor Pro",sans-serif;display:block;color:#ffffff;padding:5px 0px 0px 5px;text-decoration:none;font-size:14px}
c.user-n{font-family:"Kdam Thmor Pro",sans-serif;display:block;color:#ffffff;padding:0px 0px 0px 5px;text-decoration:none;font-size:14px}
.dropdown img {width:50px;height:50px;}
.dropdownb a:hover{color:#ffffff;background-color:#ff0000}
#dropvas{display:inline-block;position:relative;}
#dropvas:hover .dropdownb{display:block}
.dropdownb i{font-size:15px}
.sticky{position:fixed;top:0;width:98.8%;padding-top:8px;background-color:#0c0c0c}
#warn{text-align:center}
#warn-ann{width:50%;height:auto;color:#ffffff;background-color:#000000;padding-bottom:5vh;border-radius:10px;font-family:"Kdam Thmor Pro",sans-serif}
p.w-head{font-size:25px;padding-top:2px}
/*div.footer{font-family:"Kdam Thmor Pro",sans-serif;padding-left:0%;right:0%;bottom:0%;width:100%;height:150px;color:#ffffff;}*/
p.head-f{padding-left:5px;font-size:12px;font-family:"Kdam Thmor Pro",sans-serif;color:#ffffff;float:left;}
footer{position:absolute;left:0%;right:0%;width:100%;background-color:#000000;border-radius:2px;}
#con-nav{display:flex;padding-left: 25px;font-family: "Alpha Slab One", cursive;color: #ffffff;}
#con-nav i {font-size: 15px;color: #ffffff;}
#con-nav a:hover {color: #ff0000;}
div.sbg{width:100%;}
div.sbg:hover{background-color:#ff0000;}
div.s-btn button{background-color:#0c0c0c;height:35px;width:150px;color:#ffffff;font-size:18px;border:2px solid #0c0c0c;border-radius:2px;}
div.s-btn button:hover{border: 2px solid red;}
div.s-buttons{margin-left:34.2%;display:flex;font-family:"Kdam Thmor Pro",sans-serif;}
div.s-engines{margin-left:27.3%;display:flex;font-family:"Kdam Thmor Pro",sans-serif;}
div.s-eng{width:100px;height:29px;background-color:#ffffff;color:#000000;font-size:13px;border:2px solid #ffffff;border-radius:5px;}
div.s-eng:hover{border:2px solid #ff0000;}
div.s-eng img{height:25px;padding-top:2px;float:left;width:25px;}
div.s-eng a{position:relative;padding-left:5px;top:3px;}
#alert_eng{font-family:"Kdam Thmor Pro",sans-serif;width:40%;height:auto;color:#000000;background-color:#ffffff;border-radius:5px;border:2px solid #ffffff;}
#alert{display:none;}
div.followers k{text-align:center;width:50px;height:20px;background-color:#ffffff;font-family:"Kdam Thmor Pro",sans-serif;}
div.followers s{text-decoration:none;padding-right:4px;}