/**********************************************************
Made By The Official Team Of Xopbot.Inc And XOPBOT©
Full Rights Are Owned By Us And XOPBOT, Any Thiefs Are
Takendown By DMCA Protection And The DMCA Company
Copyright XOPBOT 2021 - 2022 © All Rights Reserved 🔥🔥🔥
***********************************************************/
@media screen and (max-width:835px){#more{display:block}}
@media screen and (max-width:549px) and (min-width:0){section.vid-o{display:none}}
@media screen and (max-width:1500px) and (min-width:550px){.mob-vid{display:none}}
@media screen and (max-width:1500px) and (min-width:800px){.advert2,.advert3{display:none}.advert1{height:100px;width:728px}.advert4{height:250px;width:900px}}
@media screen and (max-width:799px) and (min-width:100px){.advert,.advert1,.advert4{display:none}}
@media screen and (max-width:991px) and (min-width:600px){.footers-one,.footers-two,.footers-three{display:none}}
@media screen and (max-width:835px){div.userarea{display:none}}
@media screen and (max-width:621px){.col-xs-12,.col-sm-6,.col-md-2,.footers-one,.footers-two,.footers-three{text-align:center}a.nav-link{font-size:13px}a.navbar-brand{15px}.advert2{height:100px;width:300px}.advert3{width:300px;height:250px}@media screen and (max-width:600px){.avid{width:80%;height:auto}a.nav-link{font-size:11px}a.navbar-brand{font-size:13px}div.userarea{display:none}}
@media screen and (max-width:460px){.avid{width:80%;height:150}a.nav-link{font-size:9px}a.navbar-brand{font-size:11px}.btn,.btn-primary,.shadow-none,.group,.btn-group{font-size:15px}.that-is-pfp{width:100;height:100}}
@media screen and (max-width:400px){a.nav-link{font-size:7px}a.navbar-brand{font-size:9px}.that-is-pfp{width:90;height:90}}
@media screen and (max-width:341px){a.nav-link{font-size:6px}a.navbar-brand{font-size:7px}.that-is-pfp{width:80;height:80}}
@media screen and (max-width:305px){a.nav-link{font-size:5px}a.navbar-brand{font-size:6px}.that-is-pfp{width:80;height:80}}