/**********************************************************
Made By The Official Team Of Xopbot.Inc And XOPBOT©
Full Rights Are Owned By Us And XOPBOT, Any Thiefs Are
Takendown By DMCA Protection And The DMCA Company
Copyright XOPBOT 2021 - 2022 © All Rights Reserved 🔥🔥🔥
***********************************************************/
body{background-color:#ffffff}
div.box{width:100%;height:1500px;background-image:url("https://cdn.glitch.global/ee0192b4-293c-47fb-8c35-d64d20c9fb07/black-abstract-background-with-v-shape-layers-vector.jpg?v=1644844143393");background-position:center;background-repeat:no-repeat;background-size:cover;background-attachment:fixed;border-radius:10px;border-color:#ffffff;text-align:center;padding-top:50px;color:#ffffff}
img{width:150px;height:150px;border-radius:100%;box-shadow:0 4px 8px 0 white,0 4px 8px 0 black}
div.username{padding-top:20px;font-family:"Sans-Serif"}
a.size-name{font-size:20px}
div.biography{width:70%;height:250px;padding-top:5px;padding-bottom:5px;font-family:"Sans-Serif";background-color:#ffffff;border-radius:5px;color:#000000;padding-left:5px;text-align:left;margin-left:auto;margin-right:auto}
div.size-biography{color:#000000}
div.space{padding-top:5px}
div.b-title{font-family:"Sans-Serif"}
div.options{color:#ffffff}
#bgraph{text-transform:uppercase}
video{width:85%;height:auto;text-align:center;margin-left:auto;margin-right:auto}
iframe{width:85%;text-align:center;margin-left:auto;margin-right:auto}
div.info{text-transform:uppercase;font-family:'Sans-Serif',cursive;font-size:25px;padding-bottom:5px;text-align:center;margin-left:auto;margin-right:auto}